html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background: #3b5898;
  width: 100%;
  height: 9%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo {
  margin: 30px;
  font-size: 40px;
  font-weight: bolder;
}

.login {
  margin: 20px;
}
.inline {
  display: inline-block;
}

input {
  margin: 5px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 13%;
}

.register {
  width: 45%;
}

/* custom classes */
.custom-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.margin {
  margin: 20px;
}

.padding {
  padding: 20px;
}

.white-text {
  color: #fff;
}
